*{
margin: 0;
padding: 0;
font-family: 'Poppins', sans-serif;
}
.header
{
  min-height: 100vh;
width: 100%;
background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/img2.jpg);
background-position: center;
background-size: cover;
position: relative;
}
nav
{
display: flex;
padding: 2% 6%;
justify-content: space-between;
align-items: center;
}
nav img{
width: 150px;
}
.nav-links{
flex: 1;
text-align: right;
}
.nav-links ul li{
list-style: none;
display: inline-block;
padding: 8px 12px;
position: relative;
}
.nav-links ul li a {
color: #fff;
text-decoration: none;
font-size: 13px;
}
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
  width: 100%;
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

/*.........about........*/
.about{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: rgb(15, 13, 13);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*.........privacy........*/

.privacy{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: rgb(15, 13, 13);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*.........contact........*/

.customer{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 5%;
}
h1{
  font-size: 36px;
  font-weight: 600;
}
p{
  color: rgb(15, 13, 13);
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

/*........about page......*/
.sub-header{
  min-height: 50vh;
width: 100%;
background-image: linear-gradient(rgba(122, 108, 122, 0.226),rgba(103, 92, 107, 0.336)),url(img/aboutimg.jpg);
background-position: center;
background-size: cover;
position: relative;
}
.sub-header h1{
  text-align: center;

}
.about p{

  color: rgb(15, 13, 13);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding: 20px;

}
.chartimg{
  
  background-size: contain;
 
}

/*........Login......*/

 
.login{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/img2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  
}
  

.box{
  width: 400px;
  height: 420px;
  background: black;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-radius: 10px;
}
.box h1 {
  margin: 0;
  padding: 0 0 0;
  text-align: center;
  font-size: 30px;
  color: #fff;
  transform: translate(550%,-50%);
  
}
.box form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.box p{
  margin: 0;
  padding: 0 ;
  font-weight: bold;

}
.box input{ 
  padding: 5px;
  width: 95.5%;
  margin-bottom: 15px;

}
.box input[type="text"], input[type="password"]{
border: none;
border-bottom: 1px solid #fff;
background: transparent;
outline: none;
height: 30px;
color: #fff;
font-size: 16px;

}
.box input[type="email"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
  
  }
.box input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: white;
  border-radius: 25px;
  font-size: 16px;
  color: #2691d9;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.box input[type="submit"]:hover{
  border-color: #1a76b3;
  transition: .5s;
  color: #196aa0;
}


/*........Register......*/

.register{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(92, 99, 128, 0.7),rgba(90, 95, 117, 0.7)),url(img/img2.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  }
.register h1{
  text-align: center;
}
.input-box p{
   
   padding-top: 30px;
   margin: 0;
  font-weight: bold;
}

.input-box [type="text"], .input-box [type="password"], .input-box [type="number"], .input-box [type="date"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  font-size: 16px;
  margin: 10px;
 
}
.submit [type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: white;
  border-radius: 25px;
  font-size: 16px;
  color: #2691d9;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
.submit [type="submit"]:hover{
  border-color: #1a76b3;
  transition: .5s;
  color: #196aa0;
}

/*..........payment.......*/

.side{
  flex: 1;
  text-align: right;
  }
  .side ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
    .button ul li a {
      color: honeydew;
      text-decoration: none;

      }
  
    .side ul li::after{
      content: '';
      width: 0%;
      height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    .side ul li:hover::after{
      width: 100%;
    }
    .payment{
  
        min-height: 100vh;
        width: 100%;
        background: #2691d9;
        background-position: center;
        background-size: cover;
        position: relative;
        }
.payment h1{
  text-align: center;
}
.payment h2{
  text-align: center;
}
/*........Stocks......*/

.stock{
  min-height: 100vh;
  width: 100%;
  background: #2691d9;
  background-position: center;
  background-size: cover;
  position: relative;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.button{
  flex: 1;
  text-align: right;
  }
  .button ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    }
    .button ul li a {
      color: honeydew;
      text-decoration: none;

      }
  
    .button ul li::after{
      content: '';
      width: 0%;
      height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
    }
    .button ul li:hover::after{
      width: 100%;
    }



    .stockbuy
     {
      flex: 1;
      text-align: left;
      }
      .stockbuy a{
        font-size: 20px;
        list-style: none;
        display: inline-block;
        padding: 8px 30px;
        position: relative;
        }
        .stockbuy a{
          color: honeydew;
          text-decoration: none;
          
          }
      
        .stockbuy a::after{
          content: '';
          width: 0%;
          height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
        }
        .stockbuy a:hover::after{
          width: 100%;
        }
        .stock h1{
         
          text-align: center;
        }
        .stockbuy p{
          padding-left: 50px;
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 30px;
        }
        .stocksell p{
          text-align: right;
          padding-left: 50px;
          padding-top: 10px;
          font-size: 30px;
          padding-right: 50px;
        }
     

        .stocksell
     {
      flex: 1;
      text-align: right;
      }
      .stocksell a{
        font-size: 20px;
        list-style: none;
        display: inline-block;
        padding: 8px 30px;
        position: relative;
        }
        .stocksell a{
          
          color: honeydew;
          text-decoration: none;
          
          }
      
        .stocksell a::after{
          content: '';
          width: 0%;
          height: 2px;
        background: #f44336;
        display: block;
        margin: auto;
        transition: 0.5s;
        }
        .stocksell a:hover::after{
          width: 100%;
        }

/*...........MRF STOCK........*/

.bs{
  min-height: 100vh;
  width: 100%;
  background: #26b5d9e7;
  background-position: center;
  background-size: cover;
  position: relative;
}
.bs h1{
  text-align: center;
}
.mrf {
  transform: translateX(-50%);
  margin-left: 50%;
  height: 500px;
  width: 500px;
  object-fit: contain;
}

 .price
 {
   font-size: 16px;
   text-align: left;
   padding-left: 10px;
 }
 .option {
   padding-left: 10px;
   text-align: left;
 }
 
  /*...........portfolio........*/


  .portfolio{
    min-height: 100vh;
    width: 100%;
    background: #2bdb83e7;
    background-position: center;
    background-size: cover;
    position: relative;
    
  }
  .portfolio h1{
    text-align: center;
  }

/* portoflio */

.row {
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.row > td {
  width: 20%;
  text-align: center;
}

.portfolioTable {
  width: 80%;
  margin: 0 auto;
}